.legend {
    list-style: none;
    margin: auto;
    padding: auto;
    display: flex;
    flex-direction: row;
    background-color: lightgray;
    justify-content: center;
    align-items:  center;
    height: 50px;
  }
  
  .legend li {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
  }
  
  .legend-color {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 0;
  }
  
  .legend-label {
    margin-left: 10px;
    font-size: 14px;
    color: black;
  }