.node{
    width: 25px;
    height: 25px;
    outline: 1px solid lightgray;
    display: inline-block;
}


.node-start{
    background-color: lightgreen;
}

.node-end{
    background-color: darkgreen;
}


.node-wall{
    background-color: black;
}


.short-path{
    animation-name: shortestAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out ;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.node-visited{
    animation-name: visitedAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }
  
  @keyframes shortestAnimation {
    
    0% {
        transform: scale(0.3);
        background-color: rgba(0, 255, 68, 0.75);
        border-radius: 100%;
      }
    
      50% {
        background-color: rgba(183, 255, 74, 0.75);
      }
    
      75% {
        transform: scale(1.2);
        background-color: rgba(208, 208, 24, 0.75);
      }
    
      100% {
        transform: scale(1);
        background-color: yellow;
      }

  }


  @keyframes visitedAnimation {
    0% {
      transform: scale(0.3);
      background-color: rgba(0, 0, 66, 0.75);
      border-radius: 100%;
    }
  
    50% {
      background-color: rgba(17, 104, 217, 0.75);
    }
  
    75% {
      transform: scale(1.2);
      background-color: rgba(0, 217, 159, 0.75);
    }
  
    100% {
      transform: scale(1);
      background-color: rgba(0, 190, 218, 0.75);
    }
  }

.node-wt-2{
  background-color: rgb(242, 208, 207);
}

.node-wt-3{
  background-color: rgb(234, 180, 179);
}

.node-wt-4{
  background-color: rgb(228, 156, 155);
}


.node-wt-5{
  background-color:rgb(207, 81, 79)
}


.node-wt-6{
  background-color: rgb(184, 53, 50)
}


.node-wt-7{
  background-color: rgb(108, 31, 30)
}
