.node{
    width: 15px;
    height: 15px;
    outline: 1px solid grey;
    display: inline-block;
}

.node-start{
    background-color: greenyellow;
}

.node-end{
    background-color: red;
}

.node-visited{
    background-color: lightblue;
}

.node-wall{
    background-color: black;
}